@using MvcLibrary.Models.Entity
@model PagedList.IPagedList<TBLMEMBER>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kullanıcılar</h2>

@using (Html.BeginForm("Index", "Member", FormMethod.Get))
{

    <div style="margin-bottom:15px;margin-top:15px;" class="row px-3">
        <div class="col-auto form-label align-self-center">
            <b>Adı ile ara: </b>
        </div>
        <div class="col-4">
            @Html.TextBox("p", null, new { @class = "form-control" })
        </div>
        <div class="col-1">
            <input value="Ara" type="submit" class="form-control  btn-info" />
        </div>


    </div>
}

<table class="table table-bordered">
    <tr>
        <th>Kullanıcı ID</th>
        <th>Kullanıcı Ad</th>
        <th>Kullanıcı Soyad</th>
        <th>Kullanıcı E-Posta</th>
        <th>Kullanıcı Adı</th>
        <th>Kullanıcı Şifre</th>
        <th>Kullanıcı Telefon</th>
        <th>Kullanıcı Okul</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Kitap Geçmişi</th>
    </tr>

    @foreach (var mbr in Model)
    {
        <tr>
            <td>@mbr.ID</td>
            <td>@mbr.NAME</td>
            <td>@mbr.SURNAME</td>
            <td>@mbr.MAIL</td>
            <td>@mbr.USERNAME</td>
            <td>@mbr.PASSWORD</td>
            <td>@mbr.PHONE</td>
            <td>@mbr.SCHOOL</td>
            <td>

                @Html.ActionLink("Delete", "DeleteMember", new { id = mbr.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Are You Sure?')" })

            </td>
            <td><a href="/Admin/Member/GetMember/@mbr.ID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Admin/Member/GetMemberActions/@mbr.ID" class="btn btn-success">Kitap Geçmişi</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new{page ,p=ViewBag.p}))


<a href="/Admin/Member/AddMember" class="btn btn-primary">Kullanıcı Ekle</a>
