@using MvcLibrary.Models.Entity
@model List < TBLACTION >
@{
    ViewBag.Title = "Borrowed";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Ödünç Alınan Kitaplar</h2>

<table class="table table-bordered">
    <tr>
        <td>İşlem ID</td>
        <td>Kitap Ad</td>
        <td>Kullanıcı</td>
        <td>Görevli</td>
        <td>Ödünç Alınma Tarihi</td>
        <td>Teslim Edilme Tarihi</td>
        <td>İşlem Durumu</td>


    </tr>
    @foreach (var y in Model)
    {
        <tr>
            <td>@y.ID</td>
            <td>@y.TBLBOOK.NAME</td>
            <td>@y.TBLMEMBER.NAME</td>
            <td>@y.TBLSTAFF.STAFF</td>
            <td>@Convert.ToDateTime(y.BORROWDATE).ToShortDateString()</td>
            <td>@Convert.ToDateTime(y.RETURNDATE).ToShortDateString()</td>
            <td>@y.ISCOMPLATED</td>
        </tr>
    }
</table>

