@using MvcLibrary.Models.Entity
@model List<TBLACTION>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Borrow List</h2>



<table class="table table-bordered">
    <tr>
        <td>İşlem ID</td>
        <td>Kitap Adı</td>
        <td>Kullanıcı</td>
        <td>Görevli</td>
        <td>Ödünç Alınma Tarihi</td>
        <td>Teslim Edilme Tarihi</td>
        

    </tr>
    @foreach (var y in Model)
    {
        <tr>
            <td>@y.ID</td>
            <td>@y.TBLBOOK.NAME</td>
            <td>@y.TBLMEMBER.NAME</td>
            <td>@y.TBLSTAFF.STAFF</td>
            <td>@Convert.ToDateTime(y.BORROWDATE).ToShortDateString()</td>

           
            <td><a href="/Admin/Borrow/Return?id=@y.ID" class="btn btn-success">Teslim et</a></td>
        </tr>
    }
</table>

