@using MvcLibrary.Models.Entity
@model List<TBLACTION>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Borrow List</h2>



<table class="table table-bordered">
    <tr>
        <td>Process ID</td>
        <td>Book Name</td>
        <td>Member</td>
        <td>Staff</td>
        <td>Borrow Date</td>
        <td>Return</td>
        

    </tr>
    @foreach (var y in Model)
    {
        <tr>
            <td>@y.ID</td>
            <td>@y.TBLBOOK.NAME</td>
            <td>@y.TBLMEMBER.NAME</td>
            <td>@y.TBLSTAFF.STAFF</td>
            <td>@Convert.ToDateTime(y.BORROWDATE).ToShortDateString()</td>

           
            <td><a href="/Borrow/Return?id=@y.ID" class="btn btn-success">Return The Book</a></td>
        </tr>
    }
</table>

