@model MvcLibrary.Models.Entity.TBLBOOK
@{
    ViewBag.Title = "AddBook";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>

    <div class="container-fluid p-3">
        <div class="row" style=" margin-top: 15px">
            <div class="col-12 p-2">
                <label>Kitap Adı</label>
                @Html.TextBoxFor(b => b.NAME, new { @class = "form-control" })
            </div>
            <div class="col-6 p-2">
                <label>Kitap Yazarı</label>
                @Html.DropDownListFor(b => b.TBLAUTHOR.ID,(List<SelectListItem>)ViewBag.val2, new { @class = "form-control" })
            </div>
            <div class="col-6 p-2">
                <label>Kitap Kategorisi</label>
                @Html.DropDownListFor(b => b.TBLCATEGORY.ID, (List<SelectListItem>)ViewBag.val1, new { @class = "form-control" })
            </div>
            <div class="col-4 p-2">
                <label>Kitap Yazılma Tarihi</label>
                @Html.TextBoxFor(b => b.PUBLICATIONYEAR, new { @class = "form-control" })
            </div>
            <div class="col-4 p-2">
                <label>Yükleyen</label>
                @Html.TextBoxFor(b => b.PRINTINGHOUSE, new { @class = "form-control" })
            </div>
            <div class="col-4 p-2">
                <label>Sayfa Sayısı</label>
                @Html.TextBoxFor(b => b.PAGE, new { @class = "form-control" })
            </div>
            <div class="col-12 p-2">
                <label>Kitap Fotoğrafı</label>
                @Html.TextBoxFor(b => b.IMAGE, new { @class = "form-control" })
            </div>  


    
        </div>
    </div>


    <div style="margin-top:15px">
        <button class="btn btn-info" id="add-Button">Kitap Ekle</button>
    </div>
</form>