@model MvcLibrary.Models.Entity.TBLBOOK

@{
    ViewBag.Title = "GetBook";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap</h2>


@using (Html.BeginForm("UpdateBook", "Book", FormMethod.Post))
{
    <div class="form-group container-fluid p-3">
        <div class="row" style=" margin-top: 15px">
            <div class="col-12 p-2">
                <label>Kitap ID</label>
                @Html.TextBoxFor(b => b.ID, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-12 p-2">
                <label>Kitap Adı</label>
                @Html.TextBoxFor(b => b.NAME, new { @class = "form-control" })
            </div>
            <div class="col-4 p-2">
                <label>Kitap Yazarı</label>
                @Html.DropDownListFor(b => b.TBLAUTHOR.ID, (List<SelectListItem>)ViewBag.val2, new { @class = "form-control" })
            </div>
            <div class="col-4 p-2">
                <label>Kitap Kategorisi</label>
                @Html.DropDownListFor(b => b.TBLCATEGORY.ID, (List<SelectListItem>)ViewBag.val1, new { @class = "form-control" })
            </div>
            <div class="col-4 p-2">
                <label>Kitap Yüklenme Tarihi</label>
                @Html.TextBoxFor(b => b.PUBLICATIONYEAR, new { @class = "form-control" })
            </div>
            <div class="col-4 p-2">
                <label>Yükleyen</label>
                @Html.TextBoxFor(b => b.PRINTINGHOUSE, new { @class = "form-control" })
            </div>
            <div class="col-4 p-2">
                <label>Sayfa Sayısı</label>
                @Html.TextBoxFor(b => b.PAGE, new { @class = "form-control" })
            </div>
            <div class="col-4 p-2">
                <label>Durum</label>
                @Html.TextBoxFor(b => b.STATUS, new { @class = "form-control" })
            </div>

        </div>
        <div class="row pt-4">
            <div class="col-2">
                <button class="btn btn-warning">Güncelle</button>
            </div>
        </div>




    </div>
}
