@using MvcLibrary.Models.Entity
@model List<TBLBOOK>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitaplar</h2>

@using (Html.BeginForm("Index", "Book", FormMethod.Get))
{
    
    <div style="margin-bottom:15px;margin-top:15px;" class="row px-3">
        <div class="col-auto form-label align-self-center">
            <b >Kitap ismi ile ara: </b>
        </div>
        <div class="col-4">
            @Html.TextBox("p", null, new { @class = "form-control" })
        </div>
        <div class="col-1">
            <input value="Ara" type="submit" class="form-control  btn-info" />
        </div>
        
       
    </div>
}

<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>Kitap Adı</td>
        <td>Kitap Yazarı</td>
        <td>Kategori</td>
        <td>Yüklenme Tarihi</td>
        <td>Yükleyen</td>
        <td>Sayfa</td>
        <td>Durum</td>
        <td>Sil</td>
        <td>Güncelle</td>

    </tr>
    @foreach (var y in Model)
    {
        <tr>
            <td>@y.ID</td>
            <td>@y.NAME</td>
            <td>@y.TBLAUTHOR.NAME&nbsp;@y.TBLAUTHOR.SURNAME</td>
            <td>@y.TBLCATEGORY.NAME</td>
            <td>@y.PUBLICATIONYEAR</td>
            <td>@y.PRINTINGHOUSE</td>
            <td>@y.PAGE</td>
            <td>@y.STATUS</td>
            <td>

                @Html.ActionLink("Delete", "DeleteBook", new { id = y.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Are You Sure?')" })

            </td>
            <td><a href="/Admin/Book/GetBook/@y.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

<a class="btn btn-primary" href="/Admin/Book/AddBook">Yeni Kitap Ekle</a>